*{
	padding: 0px;
	margin: 0px;
}
li{
	list-style: none;
}
.daohang img{
	height: 40px;
	width: 80px;
	padding-top: 5px;
}
.biaoti{
	margin: 0 auto;
	width: 1000px;
}
.biaoti img{
	margin-top: 15px;
	width: 1000px;
}
.leibie{
	width: 1000px;margin: 5px auto;
	overflow: hidden;
}
#LOGO2 img{
	padding-top: 20px;
	margin: 0 auto;
	display: block;
}
.zuansi {
	width: 80px;
	margin: 0 auto;
	display: block;
	/*将img转化为块级元素*/
}
.leibie h3{
	text-align: center;
	margin-bottom: 18px;
}
.leibie ul{
	list-style: none;
	width: 1000px;
}
.leibie ul li{
	float: left;
}
.leibie .diyi li{
	margin-right:44px;
}
.leibie .diyi li:last-child{
	margin-right: 0px;
}
.leibie .dier li{
	margin-right:70px;
}
.leibie .dier li:last-child{
	margin-right: 0px;
}
.leibie .disan li{
	margin-right:36px;
}
.leibie .disan li:last-child{
	margin-right: 0px;
}
.leibie ul p{
	text-align: center;
	margin-top: 8px;
	font-size: 20px;
	font-family: "ms serif";
	color: #000000;
}
.jingxi h3{
	text-align: center;
	margin-bottom: 18px;
}
.jingxi ul{
    text-align: center;
    padding-left: 30px;
}
.liwu{
	width: 1000px;
	margin: 0 auto;	
	overflow: hidden;
}
.liwu img{
	float: left;
	width: 500px;
	margin-right: 100px;
	display: block;
}
.liwu img:last-child{
	margin-right: 0px;
}
.weiye{
	width: 1000px;
	margin: 0 auto;
}
.weiye img{
	width: 100%;
}
.ziti h3{
	font-size: 30px;
}
.jiesu{
	width: 1000px;
	margin: 0 auto;
}
.jiesu ul{
	overflow: hidden;
}
.jiesu ul li{
	float: left;
	margin-right: 30px;
}
.jiesu ul li:nth-child(1){
	width: 50%;
}
.jiesu ul li:nth-child(1) img{
	width: 100%;
	height: 200px;
}
.jiesu ul li:nth-child(2) {
	width: 22%;
	height: 200px;
}
.jiesu ul li:nth-child(2) img{
	width: 100%;
	height: 200px;
}
.jiesu ul li:nth-child(3) {
	width: 22%;
	height: 200px;
	margin-right: 0px;
}
.jiesu ul li:nth-child(3) img{
	width: 100%;
	height: 200px;
}
.anniu{
	width: 200px;
	height: 45px;
	line-height: 45px;
	display: block;
	background: #222222;
	color: white;
	text-align: center;
	margin: 20px auto;	
}
.anniu:hover{
	background: #888888;
	color: #000;
	text-decoration: none;
}
.shuangji{
	text-align: center;
	width:1000px;
	margin: 0 auto;
}
.shuangji ul {
    overflow:hidden;

}
.shuangji ul li{
    float: left;
	padding-left: 150px;
}
.shuangji img{
	width: 40px;
}
.over{
	width: 900px;
	margin: 0 auto;
}
.over ul{
	width: 300px;
	float: left;
}
.over ul li a{
	color: #888;
}
.over ul li{
	 	width: 300px;
}
.over ul li a{
	display: block;
	width: 300px;
}
